<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoCADTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoCADTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AutoCADTools.Properties.Settings>
            <setting name="SelectEmployersCommand" serializeAs="String">
                <value>SELECT * FROM Employer ORDER BY id</value>
            </setting>
            <setting name="SelectProjectsCommand" serializeAs="String">
                <value>SELECT * FROM Projects ORDER BY number DESC</value>
            </setting>
            <setting name="SelectAnnotationsCommand" serializeAs="String">
                <value>SELECT * FROM Annotations</value>
            </setting>
            <setting name="SelectAnnotationCategoriesCommand" serializeAs="String">
                <value>SELECT * FROM AnnotationCategories ORDER BY name</value>
            </setting>
            <setting name="SelectDetailsReducedCommand" serializeAs="String">
                <value>SELECT id, name, categoryId FROM Details</value>
            </setting>
            <setting name="SelectDetailCategoriesCommand" serializeAs="String">
                <value>SELECT * FROM DetailCategories ORDER BY name</value>
            </setting>
            <setting name="TemplateFileName" serializeAs="String">
                <value>\AutoCAD Tools\temp.dwt</value>
            </setting>
            <setting name="PresentationFileName" serializeAs="String">
                <value>\AutoCAD Tools\temp.png</value>
            </setting>
            <setting name="SelectSpecificDetailCommand" serializeAs="String">
                <value>SELECT * FROM Details WHERE id = ?id</value>
            </setting>
            <setting name="SelectDetailsCommand" serializeAs="String">
                <value>SELECT * FROM Details</value>
            </setting>
        </AutoCADTools.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <AutoCADTools.Properties.Settings>
            <setting name="SqlConnectionPath" serializeAs="String">
                <value>ifk.dyndns-ip.com</value>
            </setting>
            <setting name="SqlConnectionLogin" serializeAs="String">
                <value></value>
            </setting>
            <setting name="SqlConnectionPassword" serializeAs="String">
                <value></value>
            </setting>
            <setting name="SqlConnectionPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="SqlConnectionTimeout" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SqlConnectionDatabase" serializeAs="String">
                <value>AutoCAD</value>
            </setting>
        </AutoCADTools.Properties.Settings>
    </userSettings>
</configuration>
