<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoCADTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <AutoCADTools.Properties.Settings>
            <setting name="SqlConnectionPath" serializeAs="String">
                <value>ifk.no-ip.biz</value>
            </setting>
            <setting name="SqlConnectionLogin" serializeAs="String">
                <value></value>
            </setting>
            <setting name="SqlConnectionPassword" serializeAs="String">
                <value></value>
            </setting>
            <setting name="SqlConnectionPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="SqlConnectionTimeout" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SqlConnectionDatabase" serializeAs="String">
                <value>AutoCAD</value>
            </setting>
            <setting name="DiagonalBracingDescriptionBlack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultPrinterA4" serializeAs="String">
                <value>Konica</value>
            </setting>
            <setting name="DefaultPrinterA3" serializeAs="String">
                <value>Konica</value>
            </setting>
            <setting name="DefaultPrinterCustom" serializeAs="String">
                <value>Plotter</value>
            </setting>
            <setting name="DefaultLayoutName" serializeAs="String">
                <value>Plot</value>
            </setting>
        </AutoCADTools.Properties.Settings>
    </userSettings>
</configuration>
